.no-padding {
    padding: 0 !important;
  }
  body {
    background-color: white;
}
  
  h1{
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 70px;
    font-weight: 110;
    color: black;
  }
  
  #lineCount {
    width: 5em
  }

  p{
    color: black;
    font-weight: 53;
    font-size: 24px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    max-width: 500px;
    margin:0 auto;

  }

  .text-center {
    text-align: center!important;

}
.innercover{
  display: table-cell;
  vertical-align: middle;
}
  /*
  h1 {
    position: absolute;
    top: 11%;
    left: 10%;
    width: 80%;
  
  }
  
  div {
    top: 121;
    left: 50%;
    justify-content: center;
    font-size: 80px;
    font-weight: 50px;
   text-align: left; 
  }
  
  label {
    top: 70px;
  }
  
  p{
    top: 70;
    left: 50%;
    font-size: 15px;
  } */
  
  